body {
    background: linear-gradient(45deg, #08001f, aqua);
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.dates span {
    font-size: 50px;
    width: 70px;
    display: inline-block;
    text-align: center;
    position: relative;

}

.dates span::after {
    font-size: 20px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);

}

.time span {
    font-size: 50px;
    width: 18%;
    display: inline-block;
    text-align: center;
    position: relative;

}

.time span::after {
    font-size: 20px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);

}

#date::after {
    content: 'DATE';
}

#month::after {
    content: 'MONTH';
}

#year::after {
    content: "YEAR";
}

#hours::after {
    content: 'HOURS';
}

#min::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}